
.background{
    background-color: #0a192f;
}
.decoration_none{
    background-color: aqua;
}



.containerPather{
    height: 200px;
    width:200px;
    perspective: 900px;
}


.containerHijo{
    transform-style: preserve-3d;
    height: 100%;
    width:100%;
    animation: rotar 10s infinite linear;
 
}
.box{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
}
.box:nth-child(1){
    transform: rotateY(0deg) translateZ(0);
}
.box:nth-child(2){
    transform: rotateY(80deg) translateZ(0);
}
.box:nth-child(3){
    transform: rotateY(160deg) translateZ(0);
}
.box:nth-child(4){
    transform: rotateY(240deg) translateZ(0);
}
.box:nth-child(5){
    transform: rotateY(320deg) translateZ(0);
}
.box:nth-child(6){
    transform: rotateY(440deg) translateZ(0);
    display: flex;
   justify-content: center;
}
.box:nth-child(7){
    transform: rotateY(520deg) translateZ(0);
    display: flex;
    justify-content: center;
}
.box:nth-child(8){
    transform: rotateY(600deg) translateZ(0);
    display: flex;
    justify-content: center;
}
@keyframes rotar{
    to{
        transform: rotateY(360deg) rotateX(360deg);
    }
}